body {
  background: #E8E8E8FF;
  font-family: sans-serif;
}

.box {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-top: 0;
  float: left;
  font-size: 1px;
  font-family: sans-serif;
  outline-style: solid;
  outline-width: 1px;
  outline-color: gray;
  background: #FFFFFF;
  z-index: 1;
}

.block {
  width: 40px;
  height: 40px;
  float: left;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  padding: 5px;
  word-wrap: break-word;
  font-size: 18px;
  font-weight: bold;
  background: lightgrey;
  color: black;
  object-fit: cover;
}

.backgroundblock {
  width: 100px;
  height: 50px;
  float: left;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  padding: 5px;
  word-wrap: break-word;
  font-size: 18px;
  font-weight: bold;
  background: lightgrey;
  color: white;
  object-fit: cover;
}

p, button {
  padding-left: 5px;
}

#background {
  z-index: 0;
  opacity: 0.5;
  float: left;
  width: 641px; height: 360px;
  position: absolute;
}

#create-div, #level {
  float: left;
}

#create-div, #output {
  padding: 1s0px;
  outline-style: solid;
  outline-width: 1px;
}

#numtext {
  width: 20px;
  font-size: 10px;
  opacity: 0;
}

#selectboxinfo {
  outline: black solid 1px;
  width: 620px;
  min-height: 80px;
  max-height: 400px;
  background: white;
  background: linear-gradient(to right, white 0%, #edf2fc 100%);
}

#item-selection {
  outline: black solid 1px;
  height: 200px;
  max-width: 600px;
}

#selectboxtext {
  padding: 4px;
  margin: 4px;
  float: left;
  font-family: monospace;
}

#selectboxcancel {
  font-family: monospace;
  margin: 5px;
  padding: 5px;
}

#levelrow {
  display: block;
  float: left;
  width: 100%;
}
